p{
  color: rgb(204, 204, 204);
  text-align: center;
  display: block;
  margin: auto;
  width: 75%;
  font-family: 'Cinzel', serif;
  font-size: 12px;
  padding-top: 2em;
  padding-bottom: 4em;
}

a{
  color: rgb(204, 204, 204);
  text-decoration: none;
}
